<div>
  <span [style]="character.isPlayer ? 'color: blue' : 'color: green'">
    * {{ character.name }}
  </span>
  <span *ngIf="!character.isPlayer">
    :: {{ character.hitPoint }}
  </span>
  <span *ngIf="!isOnCombat()">
    <button *ngIf="!character.isPlayer"
            class="btn btn-outline-danger btn-sm"
            (click)="removeCharacter()">-</button>
    <input type="number"
           placeholder="Initiative"
           (change)="setInitiative(parseInt(initiative.value))"
           #initiative
           [style]="character.priorityRequired ? 'color: red':''">
    <input *ngIf="character.priorityRequired"
           placeholder="Priorität"
           type="number"
           #priority
           (change)="setPriority(parseInt(priority.value))">
  </span>
  <span *ngIf="isOnCombat() && !character.isPlayer">
    <input type="number"
           placeholder="Treffer"
           (keydown)="damage($event, hit.value)"
           #hit>
  </span>
</div>
