<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="form-group">
      <input [disabled]="onFight"
             placeholder="Monstername"
             type="text"
             class="form-control"
             #name>
    </div>
    <div class="form-group visually-hidden">
      <label class="text-secondary">Real Player</label>
      <input [disabled]="true"
             type="checkbox"
             #isPlayer>
    </div>
    <div class="form-group">
      <input [disabled]="onFight"
             (keydown.enter)="createCharacter(name.value, Number(hitPoint.value), Boolean(isPlayer.checked))"
             placeholder="Trefferpunkte"
             type="number"
             class="form-control"
             #hitPoint>
    </div>
    <button
      [disabled]="onFight"
      class="btn btn-primary"
      (click)="createCharacter(name.value, Number(hitPoint.value), Boolean(isPlayer.checked))">
      Monster hinzufügen
    </button>
  </div>
</div>

<hr>
<div class="row">
  <div class="container">
  <app-card
    *ngFor="let character of characters"
    [character]="character">
  </app-card>
  </div>
</div>
<hr>
<div>
  <button *ngIf="!onFight"
          class="btn btn-primary"
          [disabled]="onFight"
          (click)="fight()">
    Kampf beginnen
  </button>
  <button *ngIf="onFight"
          class="btn btn-primary"
          (click)="fightEnd()">
    Kampf beenden
  </button>
</div>
